.user-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .user-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    margin-top: 50px;
  }
  
  .user-card h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .user-card p {
    margin: 10px 0;
    font-size: 1.1em;
  }
  
  
  