.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 626px;
    align-items: center;
    /* background-color: red; */
}
.Circles{
    display: none;
}
.mobile{
    display: flex;
}
.titles{
    text-align: right;
    
}
.mainTitle{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #6E7E83;
    margin: 10px 0;
}
.both{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.centerTitle{
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 49px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #092A35;
}
.lastTitle{
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 200;
    font-size: 46px;
    line-height: 49px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #092A35;
    margin: 0;
}
.desc{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #6E7E83;
    width: 850px;
}
.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}
.mainCircle{
    width: 625px;
    height: 624px;
    flex-shrink: 0;
    border-radius: 625px;
    border: 3.931px solid #F7FAFB;
    position: relative;
}
.firstCircle{
    animation: animName 90s linear infinite;
    width: 625px;
    height: 624px;
    position: absolute;
}
@keyframes animName {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
}
.dot1{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #7ED602;
    position: relative;
    top: 590px;
    right: -180px;
    margin: 0;
}
.secondCircle{
    width: 547px;
    height: 546px;
    flex-shrink: 0;
    border-radius: 547px;
    border: 3.931px solid #D8E2E4;
    margin: 39px;
    animation: aniName 90s linear infinite;
    position: absolute;
}
@keyframes aniName {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
}
.dot2{
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #FF950A;
    position: relative;
    top: 170px;
}
.dot3{
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    border-radius: 21px;
    /* opacity: 0.7400000095367432; */
    background: #F3379C;
    position: relative;
    top: 30px;
    left: 445px;
    margin: 0;
}
.thirdCircle{
    width: 457.592px;
    height: 457.592px;
    flex-shrink: 0;
    border-radius: 457.592px;
    border: 3.931px solid #B1C4C9;
    margin: 80px 60px 80px 80px;
    position: absolute;
    animation: animationName 90s linear infinite;
}
.dot4{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #02BCD2;
    position: relative;
    top: 298px;
    left: 430px;
}
@keyframes animationName {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
    }
}

.fourthCircle > * {
    position: absolute;
    top: 100%; 
    left: 0;
    animation: 12s autoplay2 infinite ease-in-out;
}
.fourthCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* margin: 140px 0px 90px 140px; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 336.02px;
        height: 336.02px;
        flex-shrink: 0;
        border-radius: 336.02px;
        background: #FFF;
        border-radius: 336.02px;
        /* border: 1px solid black; */
        box-shadow: 0px 3.706301689147949px 34.46355056762695px 0px rgba(204, 204, 204, 0.16);
 
}
.innerCircleAnim {
    display: flex;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 9999;
    border: 1px solid transparent;
    background-image: linear-gradient(116.9deg, #000000 0%, transparent 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.innerCircleWrapper{
    animation: innerCircleAnimation 3s linear infinite;
    position: relative;
    top: 50%;
}
@keyframes innerCircleAnimation {
    0%{
        transform: rotate(0deg);
        }
    100%{
        transform: rotate(360deg);
    }
}
.animationText{
    color: #F3379C;
    text-align: center;
    font-size: 78.979px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.anii{
    height: 310px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.animationContent{
    color: var(--dark-color-3, #6E7E83);
    text-align: center;
    font-size: 40.207px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

@keyframes autoplay2 {
    0% {top: 100%}
    4% {top: 0%}
    33.33% {top: 0%}
    37.33% {top: -100%}
    100% {top: -100%}
}

.fourthCircle > *:nth-child(1) {animation-delay: 0s}
.fourthCircle > *:nth-child(2) {animation-delay: 4s}
.fourthCircle > *:nth-child(3) {animation-delay: 8s}
.fourthCircle > *:nth-child(4) {animation-delay: 12s}

          


@media only screen and (max-width: 1634px) and (min-width: 1400px){
    .container{
        display: flex;
        justify-content: space-around;
        width: 90%;
        align-items: center;
        height: 700px;
    }
    .titles{
        text-align: right;
    }
    .mainTitle{
        /* font-family: 'Inter'; */
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #6E7E83;
    }
    .both{
        display: flex;
        /* justify-content: flex-end; */
        flex-direction: column;
    }
    .centerTitle{
        /* font-family: 'Poppins'; */
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #092A35;
    }
    .lastTitle{
        /* font-family: 'Poppins'; */
        font-style: normal;
        font-weight: 200;
        font-size: 46px;
        line-height: 49px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #092A35;
        margin: 0;
    }
    .desc{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        text-align: right;
        letter-spacing: 0.01em;
        color: #6E7E83;
        width: 550px;
    }
    .circles{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .mainCircle{
        width: 600px;
        height: 600px;
        flex-shrink: 0;
        border-radius: 625px;
        border: 3.931px solid #F7FAFB;
    }
    .firstCircle{
        animation: animName 90s linear infinite;
        width: 600px;
        height: 600px;
        position: absolute;
    }
    .dot1{
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        border-radius: 17px;
        opacity: 0.5299999713897705;    
        background: #7ED602;
        position: relative;
        top: 572px;
        right: -180px;
        margin: 0;
    }
    .secondCircle{
        width: 520px;
        height: 520px;
        flex-shrink: 0;
        border-radius: 547px;
        border: 3.931px solid #D8E2E4;
        margin: 39px;
        animation: aniName 90s linear infinite;
        position: absolute;
    }
    .dot2{
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        border-radius: 29px;
        background: #FF950A;
        position: relative;
        top: 170px;
    }
    .dot3{
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        border-radius: 21px;
        opacity: 0.7400000095367432;
        background: #F3379C;
        position: relative;
        top: 50px;
        left: 445px;
        margin: 0;
    }
    .thirdCircle{
        width: 420px;
        height: 420px;
        flex-shrink: 0;
        border-radius: 457.592px;
        border: 3.931px solid #B1C4C9;
        margin: 90px 10px 80px 85px;;
        position: absolute;
        animation: animationName 90s linear infinite;
    }
    .dot4{
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #02BCD2;
        position: relative;
        top: 340px;
        left: 365px;
    }
    .fourthCircle {

        width: 336.02px;
        height: 336.02px;
        flex-shrink: 0;
        border-radius: 336.02px;
        /* background: var(--white, #FFF); */
        /* box-shadow: 0px 3.706301689147949px 34.46355056762695px 0px rgba(204, 204, 204, 0.16); */
        position: relative;
    }
    .innerCircleAnim {
        display: flex;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 340px;
        height: 340px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 9999;
        border: 1px solid transparent;
        background-image: linear-gradient(116.9deg, #000000 0%, transparent 70%);
    /* border-image-slice: 1;
     */
     background-origin: border-box;
  background-clip: content-box, border-box;
        /* animation: innerCircleAnimation 10s linear infinite;    */
        
    }
    .innerCircleWrapper{
        animation: innerCircleAnimation 4s linear infinite;
        position: relative;
        /* top: 50%; */
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1399px) {
    .container{
        display: flex;
        justify-content: space-around;
        width: 90%;
        align-items: center;
        height: 430px;
    }
    .titles{
        text-align: right;
    }
    .mainTitle{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #6E7E83;
    }
    .both{
        display: flex;
        flex-direction: column;
    }
    .centerTitle{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #092A35;
    }
    .lastTitle{
        font-style: normal;
        font-weight: 200;
        font-size: 46px;
        line-height: 49px;
        text-align: right;
        letter-spacing: 0.02em;
        color: #092A35;
        margin: 0;
    }
    .desc{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        text-align: right;
        letter-spacing: 0.01em;
        color: #6E7E83;
        width: 500px;
    }
    .circles{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .mainCircle{
        width: 400px;
        height: 400px;
        flex-shrink: 0;
        border-radius: 425px;
        border: 3.931px solid #F7FAFB;
    }
    .firstCircle{
        animation: animName 90s linear infinite;
        width: 400px;
        height: 400px;
        position: absolute;
    }
    .dot1{
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        border-radius: 17px;
        opacity: 0.5299999713897705;    
        background: #7ED602;
        position: relative;
        top: 372px;
        right: -100px;
        margin: 0;
    }
    .secondCircle{
        width: 320px;
        height: 320px;
        flex-shrink: 0;
        border-radius: 347px;
        border: 3.931px solid #D8E2E4;
        margin: 39px;
        animation: aniName 90s linear infinite;
        position: absolute;
    }
    .dot2{
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        border-radius: 29px;
        background: #FF950A;
        position: relative;
        top: 100px;
    }
    .dot3{
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 21px;
        opacity: 0.7400000095367432;
        background: #F3379C;
        position: relative;
        top: 90px;
        left: 307px;
        margin: 0;
    }
    .thirdCircle{
        width: 260px;
        height: 260px;
        flex-shrink: 0;
        border-radius: 320.592px;
        border: 3.931px solid #B1C4C9;
        margin: 70px 10px 80px 67px;
        position: absolute;
        animation: animationName 90s linear infinite;
    }
    .dot4{
        width: 10px;
        height: 10px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #02BCD2;
        position: relative;
        top: 48px;
        left: 232px;
    }
    .fourthCircle {
        width: 190px;
        height: 190px;
        flex-shrink: 0;
        border-radius: 180px;
        position: relative;
    }
    .innerCircleAnim {
        display: flex;
        align-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 191px;
        height: 191px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 9999;
        border: 1px solid transparent;
        background-image: linear-gradient(116.9deg, #000000 0%, transparent 70%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }
    .innerCircleWrapper{
        animation: innerCircleAnimation 4s linear infinite;
        position: relative;
    }
    .anii{
    height: 160px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .animationText{
    font-size: 50px;
    }
    .animationContent{
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {
    .container{
        display: flex;
        height: 450px;
        align-items: center;
        flex-direction: column;
    }
    .mobile{
        display: flex;
        flex-direction: column-reverse;
    }
    .titles{
        text-align: center;
    }
    .both{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainTitle{
        font-size: 8px;
        text-align: center;
        margin: 0;
        /* line-height: 5px; */
    }
    .centerTitle{
        font-size: 18px;
        text-align: center;
        line-height: 18px;
    }
    .lastTitle{
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    .fourthCircle {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        width: 123px;
        height: 123px;
        border-radius: 123px;
    }
    .innerCircleAnim {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 124px;
        height: 124px;
    }
    .innerCircleWrapper{
        animation: innerCircleAnimation 3s linear infinite;
        position: relative;
        top: 50%;
    }
    .animationText{
        font-size: 29px;
    }
    .anii{
        height: 110px;
        width: 130px;
    }
    .animationContent{
        font-size: 14px;
    }
    .thirdCircle{
        width: 168px;
        height: 168px;
        flex-shrink: 0;
        border-radius: 168px;
        border: 1px solid #B1C4C9;
        margin: 30px 0px 0px 28px;
        position: absolute;
        animation: animationName 90s linear infinite;
    }
    .dot4{
        width: 5px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #02BCD2;
        position: relative;
        top: 155px;
        left: 39px;
    }
    .secondCircle{
        width: 201px;
        height: 201px;
        border-radius: 201px;
        border: 1px solid #D8E2E4;
        margin: 12px 0 0 12px;
    }
    .dot2{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: 65px;
    }
    .dot3{
        width: 7px;
        height: 7px;
        border-radius: 7px;
        top: 0px;
        left: 148px;
        margin: 0;
    }
    .mainCircle{
        width: 230px;
        height: 230px;
        border-radius: 230px;
        border: 1px solid #F7FAFB;
    }
    .firstCircle{
        width: 230px;
        height: 230px;
    }
    .dot1{
        width: 6px;
        height: 6px;
        border-radius: 6px;
        top: 190px;
        right: -26px;
        margin: 0;
    }
    .desc{
        font-size: 9px;
        line-height: 168%;
        text-align: center;
        width: 250px;
    }
    .circles{
        display: none;
    }
    .Circles{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    
}

@media only screen and (max-width: 375px) {
    .container{
        display: flex;
        height: 450px;
        align-items: center;
        flex-direction: column;
    }
    .mobile{
        display: flex;
        flex-direction: column-reverse;
    }
    .titles{
        text-align: center;
    }
    .both{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainTitle{
        font-size: 8px;
        text-align: center;
        margin: 0;
        /* line-height: 5px; */
    }
    .centerTitle{
        font-size: 18px;
        text-align: center;
        line-height: 18px;
    }
    .lastTitle{
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    .fourthCircle {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        width: 123px;
        height: 123px;
        border-radius: 123px;
     
    }
    .innerCircleAnim {
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 124px;
        height: 124px;
    }
    .innerCircleWrapper{
        animation: innerCircleAnimation 3s linear infinite;
        position: relative;
        top: 50%;
    }
    .animationText{
        font-size: 29px;
    }
    .anii{
        height: 110px;
        width: 130px;
    }
    .animationContent{
        font-size: 14px;
    }
    .thirdCircle{
        width: 168px;
        height: 168px;
        flex-shrink: 0;
        border-radius: 168px;
        border: 1px solid #B1C4C9;
        margin: 30px 0px 0px 28px;
        position: absolute;
        animation: animationName 90s linear infinite;
    }
    .dot4{
        width: 5px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #02BCD2;
        position: relative;
        top: 153px;
        left: 40px;
    }
    .secondCircle{
        width: 201px;
        height: 201px;
        border-radius: 201px;
        border: 1px solid #D8E2E4;
        margin: 12px 0 0 12px;
    }
    .dot2{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: 65px;
    }
    .dot3{
        width: 7px;
        height: 7px;
        border-radius: 7px;
        top: 0px;
        left: 148px;
        margin: 0;
    }
    .mainCircle{
        width: 230px;
        height: 230px;
        border-radius: 230px;
        border: 1px solid #F7FAFB;
    }
    .firstCircle{
        width: 230px;
        height: 230px;
    }
    .dot1{
        width: 6px;
        height: 6px;
        border-radius: 6px;
        top: 190px;
        right: -26px;
        margin: 0;
    }
    .desc{
        font-size: 9px;
        line-height: 168%;
        text-align: center;
        width: 250px;
        margin-top: 20px;
    }
    .circles{
        display: none;
    }
    .Circles{
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 385px) and (max-width: 426px) {
    .container{
        display: flex;
        height: 500px;
        align-items: center;
        flex-direction: column;
    }
    .mobile{
        display: flex;
        flex-direction: column-reverse;
    }
    .titles{
        text-align: center;
    }
    .both{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainTitle{
        font-size: 10px;
        text-align: center;
        margin: 0;
        /* line-height: 5px; */
    }
    .centerTitle{
        font-size: 20px;
        text-align: center;
        line-height: 22px;
    }
    .lastTitle{
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
    .fourthCircle {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        width: 140px;
        height: 140px;
        border-radius: 140px;
    }
    .innerCircleAnim {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 141px;
        height: 141px;
    }
    .innerCircleWrapper{
        animation: innerCircleAnimation 3s linear infinite;
        position: relative;
        top: 50%;
    }
    .animationText{
        font-size: 32px;
    }
    .anii{
        height: 145px;
        width: 145px;
    }
    .animationContent{
        font-size: 16px;
        flex-wrap: wrap;
    }
    .thirdCircle{
        width: 168px;
        height: 168px;
        flex-shrink: 0;
        border-radius: 168px;
        border: 1px solid #B1C4C9;
        margin: 30px 0px 0px 28px;
        position: absolute;
        animation: animationName 90s linear infinite;
    }
    .dot4{
        width: 5px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #02BCD2;
        position: relative;
        top: 153px;
        left: 39px;
    }
    .secondCircle{
        width: 201px;
        height: 201px;
        border-radius: 201px;
        border: 1px solid #D8E2E4;
        margin: 12px 0 0 12px;
    }
    .dot2{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: 65px;
    }
    .dot3{
        width: 7px;
        height: 7px;
        border-radius: 7px;
        top: 0px;
        left: 148px;
        margin: 0;
    }
    .mainCircle{
        width: 230px;
        height: 230px;
        border-radius: 230px;
        border: 1px solid #F7FAFB;
    }
    .firstCircle{
        width: 230px;
        height: 230px;
    }
    .dot1{
        width: 6px;
        height: 6px;
        border-radius: 6px;
        top: 190px;
        right: -197px;
        margin: 0;
    }
    .desc{
        font-size: 12px;
        line-height: 168%;
        text-align: center;
        width: 300px;
        margin-top: 20px;
    }
    .circles{
        display: none;
    }
    .Circles{
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 427px) and (max-width: 769px) {
    .container{
        display: flex;
        height: 400px;
        width: 90%;
        align-items: revert;
        flex-direction: column;
    }
    .mobile{
        display: flex;
        flex-direction: column-reverse;
    }
    .titles{
        text-align: center;
    }
    .both{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .mainTitle{
        font-size: 10px;
        text-align: center;
        margin: 0;
        /* line-height: 5px; */
    }
    .centerTitle{
        font-size: 20px;
        text-align: center;
        line-height: 22px;
    }
    .lastTitle{
        font-size: 20px;
        text-align: center;
        line-height: 30px;
    }
    .mixDiv{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .fourthCircle {
        top: 52%;
        left: 50%;
        transform: translate(-50%, -53%);
        width: 140px;
        height: 140px;
        border-radius: 150px;
    }
    .innerCircleAnim {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 141px;
        height: 141px;
    }
    .innerCircleWrapper{
        animation: innerCircleAnimation 3s linear infinite;
        position: relative;
        top: 50%;
    }
    .animationText{
        font-size: 32px;
    }
    .anii{
        height: 145px;
        width: 145px;
    }
    .animationContent{
        font-size: 16px;
				
    }
    .thirdCircle{
        width: 168px;
        height: 168px;
        flex-shrink: 0;
        border-radius: 168px;
        border: 1px solid #B1C4C9;
        margin: 30px 0px 0px 28px;
        position: absolute;
        animation: animationName 90s linear infinite;
    }
    .dot4{
        width: 5px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #02BCD2;
        position: relative;
        top: 155px;
        left: 40px;
    }
    .secondCircle{
        width: 201px;
        height: 201px;
        border-radius: 201px;
        border: 1px solid #D8E2E4;
        margin: 12px 0 0 12px;
    }
    .dot2{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: 65px;
    }
    .dot3{
        width: 7px;
        height: 7px;
        border-radius: 7px;
        top: 0px;
        left: 148px;
        margin: 0;
    }
    .mainCircle{
        width: 230px;
        height: 230px;
        border-radius: 230px;
        border: 1px solid #F7FAFB;
    }
    .firstCircle{
        width: 230px;
        height: 230px;
    }
    .dot1{
        width: 6px;
        height: 6px;
        border-radius: 6px;
        top: 190px;
        right: -197px;
        margin: 0;
    }
    .desc{
        font-size: 12px;
        line-height: 168%;
        text-align: right;
        width: 300px;
    }
    .circles{
        display: none;
    }
    .Circles{
        display: flex;
        margin-top: 10px;
		justify-content: center;
    }
}