/*  --------------------------------     GLOBAL   -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.inputFeild {
    width: 100%;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
}

.inputFeild:focus {
    outline: none;
    border: 2px solid #45A29E;
}

.Btn {
    background: #42d9ff;
    border: 1px solid #42d9ff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
    /* box-sizing: border-box; */
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
    text-align: center;
    text-transform: none;
}

.Btn:hover {
    background-color: rgb(182, 226, 192);
    color: #141414;
    transition: 0.5s;
    border-radius: 4px;
}

.hoverEffct {
    padding: 15px;
    color: #2E3944;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s
}

.hoverEffct:hover {
    background: rgba(128, 128, 128, 0.288);
    color: black;
    border-radius: 10px;
}

a.active {
    color: black;
}

/*  --------------------------------     HEADER   -------------------------------- */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #D3D9D4;
    color: black;
    text-align: center;
}

.LogoImg {
    height: 90px;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #2e3944b6;
    font-weight: 600;
    font-size: 18px;
}

.link:hover {
    color: black;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    transition: 0.5s;
}

/*  --------------------------------     FOOTER   -------------------------------- */

.footer {
    background: #D3D9D4;
    color: black;
    padding: 24px;
    text-align: center;
    height: 100%;
}

.svg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .text {
    margin-top: 1.5rem;
}

/*  --------------------------------     HOME   -------------------------------- */

.homeContainer {
    height: 100vh;
    width: 100%;
    background-image: url(/Img/bgCar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    height: 430px;
}

.Circles {
    display: none
}

.mobile {
    display: flex;

}

.titles {
    text-align: right;
}

.mainTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #6E7E83;
}

.both {
    display: flex;
    flex-direction: column;
}

.centerTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #092A35;
}

.lastTitle {
    font-style: normal;
    font-weight: 200;
    font-size: 46px;
    line-height: 49px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #092A35;
    margin: 0;
}

.desc {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #6E7E83;
    width: 500px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.mainCircle {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 425px;
    border: 3.931px solid #F7FAFB;
}


.firstCircle {
    animation: animName 90s linear infinite;
    width: 400px;
    height: 400px;
    position: absolute;
}

@keyframes animName {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dot1 {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 17px;
    opacity: 0.5299999713897705;
    background: #7ED602;
    position: relative;
    top: 372px;
    right: -100px;
    margin: 0;
}

.secondCircle {
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 347px;
    border: 3.931px solid #D8E2E4;
    margin: 39px;
    animation: aniName 90s linear infinite;
    position: absolute;
}

@keyframes aniName {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.dot2 {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #FF950A;
    position: relative;
    top: 100px;
}

.dot3 {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 21px;
    opacity: 0.7400000095367432;
    background: #F3379C;
    position: relative;
    top: 90px;
    left: 302px;
    margin: 0;
}

.thirdCircle {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 320.592px;
    border: 3.931px solid #B1C4C9;
    margin: 70px 10px 80px 67px;
    position: absolute;
    animation: animationName 90s linear infinite;
}

.dot4 {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #02BCD2;
    position: relative;
    top: 48px;
    left: 226px;
}

@keyframes animationName {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fourthCircle>* {
    position: absolute;
    top: 100%;
    left: 0;
    animation: 12s autoplay2 infinite ease-in-out;

}

.fourthCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 190px;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 180px;
    /* border: 1px solid black; */
    box-shadow: 0px 3.706301689147949px 34.46355056762695px 0px rgba(204, 204, 204, 0.16);

}

.innerCircleAnim {
    display: flex;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 191px;
    height: 191px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 9999;
    border: 1px solid transparent;
    background-image: linear-gradient(116.9deg, #000000 0%, transparent 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.innerCircleWrapper {
    animation: innerCircleAnimation 3s linear infinite;
    position: relative;
    top: 50%;
}

@keyframes innerCircleAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animationText {
    color: #F3379C;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    font-size: 50px;
}

.anii {
    height: 160px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animationContent {
    color: var(--dark-color-3, #6E7E83);
    text-align: center;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

@keyframes autoplay2 {
    0% {
        top: 100%
    }

    4% {
        top: 0%
    }

    33.33% {
        top: 0%
    }

    37.33% {
        top: -100%
    }

    100% {
        top: -100%
    }
}

.fourthCircle>*:nth-child(1) {
    animation-delay: 0s
}

.fourthCircle>*:nth-child(2) {
    animation-delay: 4s
}

.fourthCircle>*:nth-child(3) {
    animation-delay: 8s
}

.fourthCircle>*:nth-child(4) {
    animation-delay: 12s
}

/*  --------------------------------     ABOUT   -------------------------------- */

.about {
    width: 75%;
    margin: auto;
    padding: 5vw;
}

.aboutHeading {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/*  --------------------------------     ERROR   -------------------------------- */

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 31vw;
}

/*  --------------------------------     LOGIN   -------------------------------- */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 14px;
    -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    padding: 50px;
    width: 500px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}


.remember {
    display: flex;
    justify-items: start;
    gap: 5px;
}

.rf {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin-bottom: 10px;
}

.signUpBtn {
    padding: 10px;
    color: #2E3944;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s
}

.signUpBtn:hover {
    background: rgba(128, 128, 128, 0.288);
    color: black;
    border-radius: 10px;
}


/*  --------------------------------     SIGNUP   -------------------------------- */

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 70px;
}

.signUp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    height: 100vh;
    width: 70vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
}

.form label {
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 17PX;
}

/* .form input {
    width: 350px;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
} */

.form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupTxt {
    gap: 15px;
    padding: 1rem;
}

.image {
    height: 100%;
    width: 48%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* border: 2px solid yellow; */
}

.image img {
    height: 100%;
    width: 100%;
}

/*  --------------------------------     CONTACT   -------------------------------- */

.contactAll {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;

}

.part1 {
    background-color: rgb(209 213 219);
    padding: 4rem 6rem;
    border-radius: 70px 4px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contactDetail {
    display: flex;
    align-items: center;
    gap: 7px;
}

.contactHeading {
    font-weight: 900;
}

.contactText {
    font-weight: 600;
}

.contactForm {
    width: 400px;
    /* padding: 2rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

/*  --------------------------------     CAR   -------------------------------- */

.carFirst {
    background: url(https://img.freepik.com/premium-photo/happy-family-with-car-travel-summer-vacation-car-sunset_76964-24706.jpg?w=996);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
}

.searchCar {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* border: 2px solid red; */
}

.searchDetail {
    display: flex;
}

/*  --------------------------------     ADDCAR   -------------------------------- */

.add-car-form {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.add-car-form h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
    color: #444;
}

.form-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #bbb;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/*  --------------------------------     USER   -------------------------------- */

.user-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.user-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    margin-top: 50px;
}

.user-card h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.user-card p {
    margin: 10px 0;
    font-size: 1.1em;
}

/*  --------------------------------     DASHBOARD   -------------------------------- */

.sidebar {
    width: 200px;
    background-color: #dadada;
    color: black;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navList {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
}

.navItem {
    margin: 20px 0;
}

.sidebarName {
    color: black;
    text-decoration: none;
}