/*  --------------------------------     GLOBAL   -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.inputFeild {
    width: 100%;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
}

.inputFeild:focus {
    outline: none;
    border: 2px solid #45A29E;
}

.Btn {
    background: #42d9ff;
    border: 1px solid #42d9ff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
    /* box-sizing: border-box; */
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 25px;
    text-align: center;
    text-transform: none;
}

.Btn:hover {
    background-color: rgb(182, 226, 192);
    color: #141414;
    transition: 0.5s;
    border-radius: 4px;
}

/*  --------------------------------     HEADER   -------------------------------- */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #45A29E;
    color: black;
    text-align: center;
}

.LogoImg {
    height: 90px;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #2E3944;
}

.link:hover {
    color: black;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
    transition: 0.5s;
}

.search {
    width: 160px;
}

.wrap-input-18 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-input-18 .search {
    margin: 20px;
}

.wrap-input-18 .search>div {
    display: inline-block;
    position: relative;
}

.wrap-input-18 .search>div:after {
    content: "";
    background:
        white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
}

.wrap-input-18 .search>div>input {
    color:
        white;
    font-size: 16px;
    background:
        transparent;
    width: 25px;
    height: 25px;
    padding: 20px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.wrap-input-18 .search>div>input::placeholder {
    color:
        #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.wrap-input-18 .search>div>input:focus::placeholder {
    opacity: 1;
}

.wrap-input-18 .search>div>input:focus,
.wrap-input-18 .search>div>input:not(:placeholder-shown) {
    width: 150px;
}



/*  --------------------------------     FOOTER   -------------------------------- */

.footer {
    background: #D3D9D4;
    color: black;
    padding: 24px;
    text-align: center;
    height: 100%;
}

.svg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .text {
    margin-top: 1.5rem;
}

/*  --------------------------------     HOME   -------------------------------- */

.homeContainer {
    height: 100vh;
    width: 100%;
    background-image: url(/Img/CarPic.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*  --------------------------------     LOGIN   -------------------------------- */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 14px;
    -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    padding: 50px;
    width: 500px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

/* .loginInput {
    padding: 15px;
    border: 1px solid gray;
    margin-left: 10px;
    width: 100%;
} */

.remember {
    display: flex;
    justify-items: start;
    gap: 5px;
}

.rf {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin-bottom: 10px;
}

/*  --------------------------------     SIGNUP   -------------------------------- */

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 70px;
}

.signUp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    height: 100vh;
    width: 70vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
}

.form label {
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 17PX;
}

/* .form input {
    width: 350px;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
} */

.form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupTxt {
    gap: 15px;
    padding: 1rem;
}

.image {
    height: 100%;
    width: 48%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* border: 2px solid yellow; */
}

.image img {
    height: 100%;
    width: 100%;
}

/*  --------------------------------     CONTACT   -------------------------------- */

.contactAll {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px;

}

.part1 {
    background-color: rgb(209 213 219);
    padding: 4rem 6rem;
    border-radius: 70px 4px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contactDetail {
    display: flex;
    align-items: center;
    gap: 7px;
}

.contactHeading {
    font-weight: 900;
}

.contactText {
    font-weight: 600;
}

.contactForm {
    width: 400px;
    /* padding: 2rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}