/*  --------------------------------     HEADER   -------------------------------- */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #748D92;
    color: black;
    padding: 34px;
    text-align: center;
    height: 45px;
}

.logo {
    margin: 0px;
    text-decoration: none;
    color: #2E3944;
}

.links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #2E3944;
}

.link:hover {
    color: black;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    transition: 0.5s;
}


/*  --------------------------------     FOOTER   -------------------------------- */

.footer {
    background: #D3D9D4;
    color: black;
    padding: 24px;
    text-align: center;
    height: 100%;
}

.svg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .text {
    margin-top: 1.5rem;
}

/*  --------------------------------     LOGIN   -------------------------------- */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox {
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    padding: 50px;
    width: 500px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .loginInput {
    padding: 15px;
    border: 1px solid gray;
    margin-left: 10px;
    width: 100%;
} */

.remember {
    display: flex;
    justify-items: start;
    /* gap: 5px; */
}

.rf {
    display: flex;
    justify-content: space-between;
}

/*  --------------------------------     SIGNUP   -------------------------------- */

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.form label {
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 17PX;
}

/* .form input {
    width: 350px;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
} */

.inputFeild {
    width: 350px;
    font-weight: 500;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
}

.form button {
    width: 110px;
    padding: 17px;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}