/*  --------------------------------     GLOBAL   -------------------------------- */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.inputFeild {
  width: 100%;
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.288);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 15px;
}

.inputFeild:focus {
  outline: none;
  border: 2px solid #f75d34;
}

.Btn {
  background: #f75d34;
  border: 1px solid orangered;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  text-align: center;
  text-transform: none;
}

.Btn:hover {
  background-color: orangered;
  color: #000;
  transition: 0.5s;
  border-radius: 8px;
}

.hoverEffct {
  padding: 10px;
  color: #2e3944;
  font-weight: 600;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

.hoverEffct:hover {
  background: rgba(128, 128, 128, 0.288);
  color: black;
  border-radius: 10px;
}

a.active {
  color: black;
}

.errorMsg {
  color: red;
}

.Loading {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(211, 209, 209, 0.76);
}

.radioBtn {
  display: flex;
  gap: 10px;
}

.radioBtn label {
  cursor: pointer;
}

/*  --------------------------------     HEADER   -------------------------------- */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #D3D9D4; */
  background: #0000004b;
  /* background: #3d6188; */
  color: black;
  text-align: center;
}

.LogoImg {
  height: 90px;
}

.links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #2e3944b6;
  font-weight: 600;
  font-size: 18px;
}

.link:hover {
  color: black;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

.profileSide {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.profileIcon {
  font-size: 24px;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HelloUser {
  /* border: 2px solid red; */
  padding: 10px;
  /* margin: 5px; */
}

/*  --------------------------------     FOOTER   -------------------------------- */

.footer {
  background: #0000004b;
  color: black;
  padding: 24px;
  text-align: center;
  height: 100%;
}

.footerIcons {
  padding-bottom: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

.fIcon {
  display: flex;
  gap: 14px;
}

.iconText {
  color: white;
}

.carsIcon {
  height: 50px;
  mix-blend-mode: multiply;
}

.svg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .FooterLastText {
  padding-top: 1.5rem;
  border-top: 2px solid gray;
}

.footerAbout {
  margin: 24px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footerLinks a {
  color: #000000b4;
  font-weight: 600;
}

.footerLinks a:hover {
  color: #000;
}

a svg {
  transition: all 0.3s linear;
}

a:hover svg {
  transform: scale(1.5);
}

.instagram:hover {
  color: #e11d74;
}

.twitter:hover {
  color: #00adb5;
}

.facebook:hover {
  color: blue;
}

.linkedin:hover {
  color: #04009a;
}

.github:hover {
  color: black;
}

/*  --------------------------------     HOME   -------------------------------- */

.animationContainer {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  height: 430px;
}

.Circles {
  display: none;
}

.mobile {
  display: flex;
}

.titles {
  text-align: right;
}

.mainTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #6e7e83;
}

.both {
  display: flex;
  flex-direction: column;
}

.centerTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #092a35;
}

.lastTitle {
  font-style: normal;
  font-weight: 200;
  font-size: 46px;
  line-height: 49px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #092a35;
  margin: 0;
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #6e7e83;
  width: 500px;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.mainCircle {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 425px;
  border: 3.931px solid #f7fafb;
}

.firstCircle {
  animation: animName 90s linear infinite;
  width: 400px;
  height: 400px;
  position: absolute;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dot1 {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 17px;
  opacity: 0.5299999713897705;
  background: #7ed602;
  position: relative;
  top: 372px;
  right: -100px;
  margin: 0;
}

.secondCircle {
  width: 320px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 347px;
  border: 3.931px solid #d8e2e4;
  margin: 39px;
  animation: aniName 90s linear infinite;
  position: absolute;
}

@keyframes aniName {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dot2 {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 29px;
  background: #ff950a;
  position: relative;
  top: 100px;
}

.dot3 {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 21px;
  opacity: 0.7400000095367432;
  background: #f3379c;
  position: relative;
  top: 90px;
  left: 302px;
  margin: 0;
}

.thirdCircle {
  width: 260px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 320.592px;
  border: 3.931px solid #b1c4c9;
  margin: 70px 10px 80px 67px;
  position: absolute;
  animation: animationName 90s linear infinite;
}

.dot4 {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #02bcd2;
  position: relative;
  top: 48px;
  left: 226px;
}

@keyframes animationName {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fourthCircle > * {
  position: absolute;
  top: 100%;
  left: 0;
  animation: 12s autoplay2 infinite ease-in-out;
}

.fourthCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
  height: 190px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 180px;
  box-shadow: 0px 3.706301689147949px 34.46355056762695px 0px
    rgba(204, 204, 204, 0.16);
}

.innerCircleAnim {
  display: flex;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 191px;
  height: 191px;
  border-radius: 50%;
  background-color: transparent;
  z-index: 9999;
  border: 1px solid transparent;
  background-image: linear-gradient(116.9deg, #000000 0%, transparent 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.innerCircleWrapper {
  animation: innerCircleAnimation 3s linear infinite;
  position: relative;
  top: 50%;
}

@keyframes innerCircleAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animationText {
  color: #f3379c;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  font-size: 50px;
}

.anii {
  height: 160px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animationContent {
  color: var(--dark-color-3, #6e7e83);
  text-align: center;
  font-size: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

@keyframes autoplay2 {
  0% {
    top: 100%;
  }

  4% {
    top: 0%;
  }

  33.33% {
    top: 0%;
  }

  37.33% {
    top: -100%;
  }

  100% {
    top: -100%;
  }
}

.fourthCircle > *:nth-child(1) {
  animation-delay: 0s;
}

.fourthCircle > *:nth-child(2) {
  animation-delay: 4s;
}

.fourthCircle > *:nth-child(3) {
  animation-delay: 8s;
}

.fourthCircle > *:nth-child(4) {
  animation-delay: 12s;
}

/*  --------------------------------     ABOUT   -------------------------------- */

.about {
  width: 75%;
  margin: auto;
  padding: 5vw;
}

.aboutHeading {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: underline;
}

/*  --------------------------------     ERRORPAGE   -------------------------------- */

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 31vw;
}

/*  --------------------------------     SIGNUP   -------------------------------- */

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 70px;
}

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  height: 100vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 65px 4px rgba(0, 0, 0, 0.75);
}

.form label {
  font-weight: 600;
  margin-bottom: 7px;
  font-size: 17px;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupTxt {
  gap: 15px;
  padding: 1rem;
}

.image {
  height: 100%;
  width: 48%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
}

/*  --------------------------------     CONTACT   -------------------------------- */

.contactAll {
  display: flex;
  justify-content: space-between;
  margin: 100px 150px;
}

.part1 {
  background-color: rgb(209 213 219);
  padding: 4rem 6rem;
  border-radius: 70px 4px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contactDetail {
  display: flex;
  align-items: center;
  gap: 7px;
}

.contactHeading {
  font-weight: 900;
}

.contactText {
  font-weight: 600;
}

.contactForm {
  width: 400px;
}

/*  --------------------------------     CAR   -------------------------------- */

.carFirst {
  background: url(https://img.freepik.com/premium-photo/happy-family-with-car-travel-summer-vacation-car-sunset_76964-24706.jpg?w=996);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}

.searchCar {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.searchDetail {
  display: flex;
  width: 70%;
  padding: 30px;
  background: rgba(245, 222, 179, 0.733);
  border-radius: 20px 10px;
}

/*  --------------------------------     CARS   -------------------------------- */

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.selectionList {
  border: none;
  padding: 10px;
  border-radius: 24px;
}

.carsFilter {
  background: rgba(84, 84, 236, 0.527);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.FualTypes {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filterBtns {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.ClearBtn {
  padding: 10px;
  border: none;
  color: #fefefe;
  background: gray;
  font-weight: 900;
  border-radius: 4px;
}

.ClearBtn:hover {
  cursor: pointer;
  border-radius: 8px;
  color: black;
  transition: 1s;
}

/*  --------------------------------     CAR CARD   -------------------------------- */

.aboutCar {
  margin: 8px 0px;
  font-size: 14px;
  color: #555;
}

.carDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-size: 14px;
  color: #555;
  flex-grow: 1;
  overflow: hidden;
}

.showRating {
  display: flex;
  border: 2px solid red;
}

/*  --------------------------------     CAR INFO (VIEW MORE)   -------------------------------- */

.carinfoIinks {
  margin: 25px;
}

.carinfoContainer {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 3px solid grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 85%;
  max-width: 1200px;
  box-sizing: border-box;
  min-height: 600px;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carinfoImage {
  max-width: 500px;
  max-height: 500px;
  border-radius: 8px;
}

.carDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.carinfoTitle {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.carinfoPrice {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.carinfoDescription {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}

.additionalInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 4px;
  width: 80%;
}

.ratingStars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carInfoLink {
  color: #333;
  font-weight: bold;
}

.carInfoLink:hover {
  color: #000;
  border-bottom: 2px solid #333;
  transition: 1s;
}

/*  --------------------------------     ADDCAR   -------------------------------- */

.add-car-form {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addCarHeading {
  text-align: center;
  margin-bottom: 20px;
}

.car-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.form-left,
.form-right label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.textarea-input {
  height: 80px;
  resize: none;
}

.form-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.form-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #45a049;
}

/*  --------------------------------     USERS   -------------------------------- */

.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.userContainer table {
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.userContainer table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.userContainer table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.userContainer table tr:hover {
  background-color: #f5f5f5;
}

.userContainer table td {
  color: #333;
}

.userContainer table th,
table td {
  font-size: 16px;
}

.userContainer h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.deleteBtn {
  background-color: rgba(255, 0, 0, 0.747);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  border: none;
  transition: 0.5s;
  font-weight: 600;
}

.deleteBtn:hover {
  background-color: red;
  border-radius: 8px;
}

/*  --------------------------------     SLIDEBAR   -------------------------------- */

.sidebar {
  width: 250px;
  background-color: #dadada;
  color: black;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navList {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
}

.navItem {
  margin: 20px 0;
}

.sidebarName {
  color: black;
  text-decoration: none;
}

.slidebarItemName {
  margin-left: 3px;
}

.adminPanel {
  display: flex;
  min-height: 100vh;
}

.admin {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/*  --------------------------------     UPDATE CAR   -------------------------------- */

.UpdateContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.UpdateTitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #333;
}

.UpdateForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.updateFormLeft {
  width: 48%;
}

.UpdateFormRight {
  width: 48%;
}

.UpdateLabel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
}

.UpdateButton {
  display: block;
  width: 150px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

/*  --------------------------------     RATING   -------------------------------- */

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  --------------------------------     RATING ANALYSIS   -------------------------------- */

.RatingContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cra {
  border-bottom: 2px solid gray;
  margin-bottom: 25px;
}

.topCars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PieChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topCarsSection {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.topCarsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.topCarItem {
  padding: 20px;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

.allCarsSection {
  margin-top: 40px;
}

.RatingTable {
  width: 100%;
  border-collapse: collapse;
}

.ratingTblHeading {
  padding: 10px;
  font-weight: 900;
  font-size: larger;
}
